body {
  background-image: url("images/background.webp");
  background-attachment: fixed;
  background-size: cover;
  background: ;
  padding-top: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #000000e8;
}

#artist {
  color: rgb(255, 255, 255);
  padding-top: -10px;

  /* padding-left: 50px; */
}

#title {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: -10px;
}

#artistphoto:hover {
  opacity: 75%;
}

#artistphoto {
  align-items: center;
  width: 200px;
  padding: 15px;
}
.type {
  background-color: #88fc05;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  display: inline;
}

.box {
  background-color: #000000e8;
  border: 2px solid black;
  padding: 15px;
  margin: 5px;
}
.box:hover {
  background-color: #000000e8;
  font-size: larger;
}

.box:hover .type {
  background-color: #89fc058f;
  font-size: x-small;
}
.box:hover .whoami {
  font-weight: bold;
  color: yellowgreen;
}
.lyrics {
  padding: 10px;
  text-align: center;
  font-size: larger;
  color: white;
}
